<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      id="1"
      photoCover="https://image.isu.pub/141202135656-b967eec92f9dd8c0e4bc056d692d894e/jpg/page_1.jpg"
      cardTitle="ADQUIRA OS NOVOS MODELOS DE BIKE AQUI NA SOUL CYCLES."
      cardDescription="A Soul Cycles garante componentes de alto padrão e constante inovação em seus quadros, acabamentos e grafismos.  "
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      id="2"
      photoCover="https://soulcycles.vtexassets.com/arquivos/ids/183402-460-460?v=638098232418630000&width=460&height=460&aspect=true"
      cardTitle="SL329 - Canastra Boost SX Suntour"
    ></app-small-card>
    <app-small-card
      id="3"
      photoCover="https://proimport.vtexassets.com/arquivos/ids/183154-460-460?v=638055969376970000&width=460&height=460&aspect=true"
      cardTitle="3R5 Team Rival AXS Rodas Brave Carbono"
    ></app-small-card>
    <app-small-card
      id="4"
      photoCover="https://proimport.vtexassets.com/arquivos/ids/186091-800-571?v=638386948964200000&width=800&height=571&aspect=true"
      cardTitle="SPRY Expedition Urban Microshift"
    ></app-small-card>
  </div>
</div>
